.properties-container {
  color: #2b2b2b;
  width: 100%;
  padding: 0 10rem;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;

  &__link {
    text-decoration: none;
    color: #2b2b2b;
  }
  &__text {
    margin-left: 4rem;
  }

  &__facilities {
    margin-top: 2rem;
  }

  &__verification {
    margin-top: 6rem;
  }
  &__price {
    margin-left: 6rem;
  }
}
