@use '../../styles/abstracts/mixins';

.footer {
  height: 256px;
  // padding: 5rem;
  padding: 4rem 4rem;
  background-color: #00695c;

  &__main {
    // display: flex;
    height: 13rem;
    // margin-bottom: 10rem;
    border-bottom: 2px solid rgb(255, 255, 255, 0.2);
    padding-bottom: 5rem;
  }
  :nth-child(2) {
    // margin-top: 2rem;
    gap: 2rem;
  }

  &__logo {
    // margin-top: 0.5rem;
    margin-top: 0.3rem;
    margin-left: 0.7rem;
    color: #ffffff;
  }

  &__elements {
    display: flex;
    // gap:1rem !important;

  }

  &__end {
    margin-top: 2rem;

    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: #ffffff;
      font-size: 10px;
    }

    img {
      background-color: #00695c;
    }

    img:hover {
      opacity: 50%;
    }

    &--socials {
      gap: 2rem;
      margin-right: 2rem;
      &__image {
        cursor: pointer;
      }
    }
  }
  @include mixins.mobile {
    height: auto;
    &__main {
      padding-bottom: 2rem;
      border-bottom: 2px solid rgb(255, 255, 255, 0.2);
    }
    &__elements {
      gap:3vw !important;

      p{
        font-size: 15px;
      }
      // &:nth-child(4) {
      //   display: none;
      // }
      
    }:nth-child(4){
      display: none;
    }
    &__end {
      margin-top: 2rem;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2rem;
    }
  }
}
