@use '../base/colors';

.sales-type-badge {
  padding: 1rem 2rem;
  background-color: #090909;
  font-size: 1.41rem;
  height: 3rem;
  font-weight: 700;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promotion-badge{
  // background: linear-gradient(61.54deg, colors.$color-tertiary-light 15%, colors.$color-secondary-light 74.15%);
  background: linear-gradient(264.54deg, #009688 -13.78%, #00695C 70.16%);
  padding: 1rem 0;
  border-radius: 2rem;
  h1{
    background-image: linear-gradient(61.54deg, #FFCC80 15%, #F48FB1 74.15%);
    background-color: transparent;
    padding: 1rem;
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    border-right: rgb(white, 0.3) 2px solid;

  }
  h3{
    font-size: 1.5rem;
      font-weight: 300;
      line-height: 20px;
    padding: 1rem;
  }
}

.feature-tag {
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 3rem;
  background-color: $color-light-green;
  padding: 0rem 1.5rem;
  color: $color-primary;

  &__not-verified {
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 3rem;
    background-color: $color-secondary-light;
    padding: 0rem 1.5rem;
    color: $color-secondary;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 10vw);
  grid-gap: 1rem;

  &__container {
    width: 100%;
    margin: 2rem auto;
  }

  // &__item {
  //   overflow: hidden;
  // }

  &__item span {
    height: 100% !important;
    width: 100% !important;
    border-radius: 1.5rem;
    display: block;
  }

  &__img {
    min-height: 0;
    max-width: 10vw;
    min-width: 0;
    min-height: 100vh;
    object-fit: cover;
    display: block;
  }

  &__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__item--2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__item--3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__item--4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &__item--5 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
