@use '../base/colors';
@mixin btn($color, $bg-color, $hover-bg-color, $border-color: colors.$color-primary-light) {
  padding: 1.4rem 3.5rem;
  height: 6rem;
  border-radius: 1.8rem;
  cursor: pointer;
  font-size: 1.8rem;
  background-color: $bg-color;
  border: 1px solid $border-color;
  color: $color;
  &:hover {
    background-color: $hover-bg-color;
  }
}
@mixin primary-btn {
  @include btn(white, colors.$color-primary-light, white);
  &:hover {
    color: #009688;
  }
  &:disabled {
    background-color: #c4c4c4;
    color: colors.$color-white;
    border: 2px solid #c4c4c4;
  }
}
.primary-btn {
  @include primary-btn();
}
.primary-btn-small {
  @include primary-btn();
  padding: 1rem 2rem;
  height: 5rem;
}

@mixin secondary-btn {
  @include btn(colors.$color-primary, transparent, colors.$color-primary-light);
  &:hover {
    color: white;
  }
}
.secondary-btn {
  @include secondary-btn();
}
.secondary-btn-small {
  @include secondary-btn();
  padding: 0.5rem 2rem !important;
  height: 5rem !important;
}
.tertiary-btn {
  @include btn(colors.$color-primary-light, transparent, colors.$color-primary-light2, colors.$color-primary-light);
}
.delete-btn {
  @include btn(colors.$color-secondary, transparent, colors.$color-secondary, colors.$color-secondary);
  height: 5rem;
  &:hover {
    color: white;
  }
}
.save-btn {
  position: fixed !important;
  bottom: 5% !important;
  right: 5% !important;
}
.active-btn {
  border: 2px solid #009688;
  background-color: #009688;
  color: black;
  &:hover {
    color: white;
    background-color: colors.$color-primary;
    border: 2px solid #009688;
  }
}
.inactive-btn {
  @include btn(colors.$color-primary, transparent, colors.$color-primary-light2);
  border: 1px solid colors.$color-primary;
  &:hover {
    border: 1px solid colors.$color-primary;
  }
}
.flat-btn {
  height: 100%;
  max-height: 6.9rem;
  border: 1px solid #009688;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 2rem;
  background-color: white;
  padding: 0rem 0.5rem;
  color: #009688;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: #009688;
    border: 2px solid #009688;
  }
  &:disabled {
    background-color: #c4c4c4;
    color: colors.$color-white;
    border: 2px solid #c4c4c4;
  }
}
.radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio:checked + label {
  background-color: colors.$color-primary;
  color: colors.$color-white;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox:checked + label {
  background-color: colors.$color-primary;
  color: colors.$color-white;
}
