.price_card {
  display: flex;
  flex-wrap: wrap;
}
@mixin swiper-button ($url){
  width: 50px;
    height: 50px;
  background-image: $url;
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: center;
    content: "";
  top: calc(50% - 30px);
}
// width: 100px;
// height: 50px;
// background-image: $url;
// background-repeat: no-repeat;
// background-size: 100% 100%;
// background-position: center;
// content: "";
#swiper-replace {

  .swiper-button-next {
    @include swiper-button(url(./carousel-right-arrow.svg));
  }
  .swiper-button-next::after {
    @include swiper-button(url(./carousel-right-arrow.svg))
  }
  .swiper-button-prev {
  @include swiper-button(url(./carousel-left-arrow.svg))
  }  
  .swiper-button-prev::after {
    @include swiper-button(url(./carousel-left-arrow.svg))
  }
  .swiper-pagination-bullet-active {
    background:  white;
  }
  
  .swiper-slide{
    display: flex;
    justify-content: space-around;
    height: 100%;
  }
}

.card {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  position: relative;
  margin-bottom: 7rem;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);

  &:hover {
    transform: translateY(20px);

    &:before {
      opacity: 1;
    }

    .info {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(black, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
    &__tag {
      background: #B2DFDB;
      color: #00695C;
      font-weight: 700;
      font-size: 10px;
      padding: 0.5rem;
      border-radius: 1rem;
      margin: 0.5rem 0.5rem 0.5rem 0;
      // margin-top: 0.5rem;
      display: inline-block;
      &--container {}
    }

  .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    max-width: 28rem;
    div{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    max-width: 28rem;
    }
    

    h1 {
      text-align: center;
      font-size: 15px;
      margin: 0px;
    }

    p {
      letter-spacing: 1px;
      font-size: 12px;
      margin-top: 8px;
      text-align: center;
    }
    

    button {
      justify-self: center;
      // padding: 0.6rem;
      // outline: none;
      // border: none;
      // border-radius: 3px;
      // background: white;
      // color: black;
      // font-weight: bold;
      // cursor: pointer;
      // transition: 0.4s ease;

      // &:hover {
      //   background: dodgerblue;
      //   color: white;
      // }
    }
  }
}

// .container {
//   display: flex;
//   flex: 1 1 100%;
//   flex-wrap: wrap;
//   justify-content: center;
//   // align-items: center;
//   width: fit-content;
//   // margin: 20px 0 80px;
//   // display: block;
//   object-fit: cover;
//   border: 1px transparent;
//   border-radius: 50rem;
// }

// .card {
//   // flex: 1 1 100%;
//   width: fit-content;
//   background-color: white;
//   position: relative;
//   background: #00695C;
//   // box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);

//   &:hover {
//     .card__caption {
//       top: 50%;
//       transform: translateY(-50%);
//     }

//     .card__image {
//       // margin-top: -10px;
//       transform: translateY(-10px);
//     }
//     .card__thumb {
//       overflow: hidden;
//       margin-top: -10px;
//     }

//     .card__thumb {
//       &::after {
//         top: 0;
//         overflow: hidden;
//       }
//     }

//     .card__snippet {
//       margin: 20px 0;
//     }
//   }

//   &__thumb {
//     // position: relative;
//     // max-height: 400px;

//     overflow: hidden;
//     padding:0;
    
//     // background: #00695C;


//     @include breakpoint(desktop) {
//       max-height: 510px;
//       min-height: 400px;
//     }

//     &::after {
//       position: absolute;
//       top: 0;
//       display: block;
//       overflow: hidden;
//       content: '';
//       width: 100%;
//       height: 97.8278%;
//       border-radius:2rem;
//       background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);
//       transition: .3s;

//       @include breakpoint(desktop) {
//         top: calc(100% - 0px);
//       }
//     }
//   }

//   &__image {
//     margin-top: 2rem;
//     display:block;
//     align-self: center;
//     border-radius: 2rem;
//     transition: .5s ease-in-out;
//     background: #00695C;
//   }

//   &__caption {
//     position: absolute;
//     top: 50%;
//     z-index: 1;
//     padding: 0 20px;
//     color: white;
//     transform: translateY(-50%);
//     text-align: center;
//     transition: .3s;

//     @include breakpoint(desktop) {
//       top: calc(100% - 110px);
//       transform: unset;
//     }
//   }

//   &__title {
//     display: -webkit-box;
//     max-height: 85px;
//     overflow: hidden;
//     // font-family: 'Playfair Display', serif;
//     font-size: 23px;
//     line-height: 28px;
//     text-shadow: 0px 1px 5px black;
//     text-overflow: ellipsis;
//     -webkit-line-clamp: 3;
//     -webkit-box-orient: vertical;
//   }

//   &__snippet {
//     display: -webkit-box;
//     max-height: 150px;
//     margin: 20px 0;
//     // overflow: hidden;
//     font-family: 'Roboto', sans-serif;
//     font-size: 16px;
//     line-height: 20px;
//     text-overflow: ellipsis;
//     transition: .5s ease-in-out;
//     -webkit-line-clamp: 5;
//     -webkit-box-orient: vertical;
    

//     @include breakpoint(desktop) {
//       margin: 60px 0;
//     }
//   }

//   &__button {
//     display: inline-block;
//     padding: 10px 20px;
//     color: white;
//     border: 1px solid white;
//     font-family: 'Roboto', sans-serif;
//     font-size: 12px;
//     text-transform: uppercase;
//     text-decoration: none;
//     transition: .3s;

//     &:hover {
//       color: black;
//       background-color: white;
//     }
//   }
// }

// .disclaimer {
//   position: fixed;
//   bottom: 0;
//   left: 50%;
//   z-index: 2;
//   box-sizing: border-box;
//   width: 100%;
//   padding: 20px 10px;
//   background-color: white;
//   transform: translateX(-50%);
//   font-family: 'Roboto', sans-serif;
//   font-size: 14px;
//   text-align: center;

//   &__link {
//     color: #755D87;
//     text-decoration: none;
//   }
// }
// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;

//   /* Center slide text vertically */
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   align-items: center;
// }

// .swiper-slide{
//   img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   }
// }