.price_card {
  display: flex;
  flex-wrap: wrap;
}
@mixin swiper-button ($url){
  background-image: $url;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
    content: "";
}
#swiper-replace {

  .swiper-button-next {
    @include swiper-button(url(./carousel-right-arrow.svg));
  }
  .swiper-button-next::after {
    @include swiper-button(url(./carousel-right-arrow.svg))
  }
  .swiper-button-prev {
  @include swiper-button(url(./carousel-left-arrow.svg))
  }  
  .swiper-button-prev::after {
    @include swiper-button(url(./carousel-left-arrow.svg))
  }
  .swiper-slide{
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 100%;
    // gap: 10rem;

    // img {
    //       display: block;
    //       width: 90%;
    //       padding:0 5rem;
    //       height: 90%;
    //       object-fit: cover;
    //       }
  }
}

$desktop: 0px;

@mixin breakpoint($point) {
  @if $point ==desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

.container {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
  width: fit-content;
  // margin: 20px 0 80px;
  // display: block;
  object-fit: cover;
  border: 1px transparent;
  border-radius: 50rem;
}

.card {
  // flex: 1 1 100%;
  width: fit-content;
  background-color: white;
  position: relative;
  background: #00695C;
  // box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);

  &:hover {
    .card__caption {
      top: 50%;
      transform: translateY(-50%);
    }

    .card__image {
      // margin-top: -10px;
      transform: translateY(-10px);
    }
    .container{
      margin-top: -10px;
    }
    .card{
      margin-top:-10px;

    }
    .card__thumb {
      overflow: hidden;
      margin-top: -10px;
    }

    .card__thumb {
      &::after {
        top: 0;
      }
    }

    .card__snippet {
      margin: 20px 0;
    }
  }

  &__thumb {
    // position: relative;
    // max-height: 400px;

    overflow: hidden;
    padding:0;
    background: #00695C;


    @include breakpoint(desktop) {
      max-height: 510px;
      min-height: 400px;
    }

    &::after {
      position: absolute;
      top: 0;
      display: block;
      content: '';
      width: 100%;
      height: 97.8278%;
      border-radius:2rem;
      background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);
      transition: .3s;

      @include breakpoint(desktop) {
        top: calc(100% - 0px);
      }
    }
  }

  &__image {
    margin-top: 2rem;
    display:block;
    align-self: center;
    border-radius: 2rem;
    transition: .5s ease-in-out;
    background: #00695C;
  }

  &__caption {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0 20px;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    transition: .3s;

    @include breakpoint(desktop) {
      top: calc(100% - 110px);
      transform: unset;
    }
  }

  &__title {
    display: -webkit-box;
    max-height: 85px;
    overflow: hidden;
    // font-family: 'Playfair Display', serif;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__snippet {
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0;
    // overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: .5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    

    @include breakpoint(desktop) {
      margin: 60px 0;
    }
  }

  &__button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;

    &:hover {
      color: black;
      background-color: white;
    }
  }
}

.disclaimer {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px;
  background-color: white;
  transform: translateX(-50%);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;

  &__link {
    color: #755D87;
    text-decoration: none;
  }
}
// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;

//   /* Center slide text vertically */
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   align-items: center;
// }

// .swiper-slide{
//   img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   }
// }