@use '../abstracts/mixins';
.price_card {
  display: flex;
  flex-wrap: wrap;
}
@mixin swiper-button ($url){
  width: 50px;
    height: 50px;
    max-width: 50px;
  background-image: $url;
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: center;
    content: "";
  top: calc(50% - 30px);
}
// width: 100px;
// height: 50px;
// background-image: $url;
// background-repeat: no-repeat;
// background-size: 100% 100%;
// background-position: center;
// content: "";
#swiper-replace {

  .swiper-button-next {
    @include swiper-button(url(./carousel-right-arrow.svg));
    @include mixins.mobile {
    width: 15%;
    margin-right: -1rem;
    }
  }
  .swiper-button-next::after {
    @include swiper-button(url(./carousel-right-arrow.svg))
  }
  .swiper-button-prev {
  @include swiper-button(url(./carousel-left-arrow.svg));
    @include mixins.mobile { 
      width: 15%;
      margin-left: -1rem;
    }
  }  
  .swiper-button-prev::after {
    @include swiper-button(url(./carousel-left-arrow.svg))
  }
  .swiper-pagination-bullet-active {
    background:  white;
  }
  
  .swiper-slide{
    display: flex;
    justify-content: space-around;
    height: 100%;
  }
  padding-bottom: 2rem;
}
.construction-popup{
  a{
    padding-bottom: 4.3rem;
  }
  h1{
    @include mixins.small-mobile{
      font-size: 22px;
      text-align: center;
    }
  }
  p{
    z-index: 10000000  !important;
    font-size: 16px;
    text-align: center;
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
    visibility: visible;
    color: white ;
    // border: 2px solid white;
    max-width: 30rem;
    display: block;
    opacity: 1;
    // margin-left: -10rem;
    content:"Hello";

    @include mixins.small-mobile{
      font-size: 16px;
    }

  }
}

.card {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  position: relative;
  margin-bottom: 7rem;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
    .location {
      color: black;
      border-radius: 1.2rem !important;
      position: absolute;
      height: 2rem !important;
      top: 2rem;
      width: fit-content !important;
      color: white;
      transition: ease-in-out 0.5s;
      transition-delay: 0.2s;
      transition-duration: 0.7s;
      img {
        display: inline-block;
          &:nth-of-type(2) {
            filter: invert(100%) sepia(0%) saturate(3660%) hue-rotate(299deg) brightness(117%) contrast(101%);
            width: 11px !important;
              height: 11px !important;
          }
          width: 11px !important;
          height: 11px !important;
        }

    }
  @include mixins.small-mobile{
    width: 420px;
    height: 500px;
    margin: 0rem 0rem 0rem 0rem;
    box-shadow: none;
    .location{
      position: absolute;
      height: 3rem !important;
      top: 2rem;
    }

  }
  
  
  &__bottom{
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1.5rem;
    @include mixins.small-mobile{
      display: none !important;
    }
  }

  &__badge{
    h3{
      font-weight: 800;
      @include mixins.small-mobile {
        font-size: 14px;
        color: black;
        
      }
      
    }

        img {
          filter: invert(100%) sepia(0%) saturate(3660%) hue-rotate(299deg) brightness(117%) contrast(101%);
          width: 14px;
          height: 14px;
        }
        @include mixins.small-mobile{
          img{
            filter: none;
            height: 13px;
            width: 13px;
          }
        }
    h4{
      font-weight: 700;
      @include mixins.small-mobile {
        color: black;
        font-size: 14px;
      }
    }
  }

  &:hover {
    transform: translateY(20px);
    
    &:before {
      opacity: 1;
    }

    .info {
      opacity: 1;
      transform: translateY(0px);
    }
    .location {
      opacity: 0;
      transition-delay: 1s;
      display: block;
      position: fixed;
      transition: ease;
      
    }
    
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(black, 0.6);
    z-index: 2;
    opacity: 0;
    @include mixins.small-mobile {
      opacity: 1;
      background: rgba(white, 0.9);
        width: 100%;
        top:auto;
        bottom: 0;
        height: 245px;
    
      }

  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
    &__tag {
      background: #B2DFDB;
      color: #00695C;
      font-weight: 600;
      font-size: 12px;
      padding: 0.2rem 0.5rem;
      border-radius: 1rem;
      margin: 0.5rem 0.5rem 0rem 0rem;
      display: inline-block;
      @include mixins.small-mobile {
          padding: 0.3rem 0.3rem;
          margin:0.2rem;
          border-radius: 0.75rem;
          font-size: 13px;
          
        }
      
    }


  .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    max-width: 28rem;
    width: calc(30rem + 8vw);
    height: 65%;
    @include mixins.small-mobile{
      max-width: 30rem;
      margin-bottom: -2.5rem;
      opacity: 1;
      transform: translateY(0px);
      
    }
    &__tags{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      // flex: 1 1 100%;
    max-width: 28rem;
    margin: 0.5rem 0 0rem 0;
    @include mixins.small-mobile {
      align-items: flex-start;
        justify-content: flex-start;
        padding: 1rem;
        max-width: 27rem;
        width: auto;
        min-width: 13.8rem;
        margin-left: 1rem;
      }
    }
    

    h1 {
      text-align: center;
      font-size: 15px;
      margin: 0px;
      @include mixins.small-mobile {
          font-size: 16px;
          font-weight: 600 !important;
          color: black;
      
        }
    }

    p {
      letter-spacing: 1px;
      font-size: 13.5px;
      margin-top: 8px;
      text-align: center;
      @include mixins.small-mobile{
        letter-spacing: -0.04rem;
        color: black;
        padding: 0.5rem 0.8rem;
        align-self: flex-start;
        text-align: left;
      };
    }
    
    

  }
}
