input[type='checkbox']::before {
}

@mixin input($width: auto, $font-size: 1.8rem) {
  font-size: $font-size;
  outline: $color-grey;
  border: 1px solid $color-grey;
  border-radius: 1.8rem;
  padding: 1rem 1rem;
  margin-right: -3rem;
  width: $width;
}

.standard-form {
  @include input();
  &__inputSmall {
    @include input(6rem);
  }
  &__inputMedium {
    @include input(8rem);
  }
  &__textarea {
    @include input(750px);
    resize: none;
    max-width: 100%;
    height: 180px;
  }
  &__inputTime {
    @include input(12rem, 1.4rem);
  }
  &__selectMedium {
    background-color: white;
    @include input(16rem, 1.4rem);
  }
}

.profile-form {
  @include input(100%, 2.2rem);
}
