/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  left: 87%;
  top: 22px;
  z-index:100001 !important;

}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  max-width: 90%;
  margin-top:-5rem;
  z-index:100001 !important;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(264.54deg, #009688 -13.78%, #00695C 70.16%);;


  font-size: $default-font-size;
  footer{
    height: 10rem;
  }
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  footer{
    height: 20vh;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    gap: 0.7rem;
    img{
    }:nth-of-type(1){
      margin: 0;
    }
    div{
      gap: 1rem;
      margin-bottom: 2rem;
    }
  }

}


/* Individual item */
.bm-item {
  display: flex;
 
}
.bm-icon{
 align-self: flex-end;
}
.bm-top{
  display:flex;
  
  &__left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0em 1em 2em 1em;
    flex:1 1 70%;
    // :nth-child(3){
    //   border-bottom: 1px solid white !important;
    // }
    a{
      // background-color: white, 0.4;
      width: 100%;
      color: white !important;
      border-bottom: 1px solid #009688;

      h2{
        color: white !important;
        fill: white !important;
        // background-color: white, 0.4;
        padding: 2rem 1rem;
      }
    }

  }
  &__right{
    flex: 1 1 30%;
    margin-top: 5rem;
    
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
