// Main Colors
$color-black: #000000;
$color-white: #fff;
$color-primary: #00695c;
$color-secondary: #ad1457;
$color-tertiary: #ef6c00;
$color-tertiary-light: #ffcc80;
$color-secondary-light: #f48fb1;
$color-primary-light: #009688;
$color-primary-light2: #b2dfdb;
$color-subtle: #92aaa7;
$color-gradient: -webkit-linear-gradient(264.54deg, #009688 -13.78%, #00695c 70.16%);

$color-light-green: #b2dfdb;

$color-grey: #868686;

$color-primary-green: #00695c;

$color-light-mint: #ecf4f1;
$color-light-purple: #d7def0;
$color-dark-grey: rgba(60, 60, 67, 0.85);
