// Main Colors
$color-black: #000000;
$color-white: #fff;
$color-primary: #00695c;
$color-secondary: #ad1457;
$color-tertiary: #ef6c00;
$color-tertiary-light: #ffcc80;
$color-secondary-light: #f48fb1;
$color-primary-light: #009688;
$color-primary-light2: #b2dfdb;
$color-subtle: #92aaa7;

$color-light-green: #b2dfdb;

$color-grey: #c4c4c4;
