@use './colors';
@use '../abstracts/mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/*@font-face {
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap'); /*@font-face {
  font-family: ""Archia Regular"";
  font-style: normal;
  font-weight: normal;
  src: local("Archia Regular"), url("Archia-Regular.woff") format("woff");
}*/

* {
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  // font-family: 'Inter', sans-serif !important;
  font-weight: 300;
}

.hover-title {
  background-image: linear-gradient(to right, #009688, #00695c 50%, #000 50%);
  background-size: 200% 100%;
  background-position: 100%;
  display: inline-block;
  font-weight: 570;
  padding: 0px 0;
  position: relative;
  line-height: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;


  img {
    margin-right: 0.1rem !important;
    transition: transform 0.7s ease-in-out;
  }
  svg {
    margin-top: -50px;
    color: linear-gradient(to right, #009688, #00695c 50%, #000 50%);
  }
}

.hover-title:hover {
  background-position: 0;
  img {
    fill: #00695c;
    transform: rotate(360deg);
  }
}

.hover-title:hover::before {
  width: 100%;
}

/* Presentational Styles */
// body {
//   display: grid;
//   font-family: 'Poppins', sans-serif;
//   font-size: 27px;
//   font-weight: 700;
//   height: 100vh;
//   place-items: center;
// }

.centered {
  text-align: center;
}
body {
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  // font-family: 'Inter', sans-serif !important;
  font-weight: 300;
}
textarea {
  // font-family: 'Inter', sans-serif !important;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
}
.subtle-text {
  color: colors.$color-subtle;
}
.grey-text {
  color: colors.$color-grey !important;
}
.bold {
  font-weight: 500 !important;
}
.underlined {
  text-decoration: underline !important;
}
.textArea {
  width: 100%;
  height: 20rem;
}

.header-primary {
  font-size: 6.4rem;
  line-height: 6.8rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  @include mobile {
    font-size: 4rem;
    line-height: 5.5rem;
  }
}

.header-secondary {
  font-size: 4rem ;
  line-height: 5.5rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  @include mobile {
    font-size: 2.8rem;
    line-height: 4.8rem;
  }
}

.header-tertiary {
  font-size: 24px;
  line-height: 55px;
  font-weight: 400;
  letter-spacing: -0.05em;
  @include mobile {
    font-size: 20px;
    line-height: 40px;
  }
}
.semi-bold-text {
  font-weight: 600 !important;
}

.label-text {
  font-size: 2rem;
  font-weight: 500;
}

.green-text {
  color: colors.$color-primary-light;
}
.white-text {
  color: white !important;
}
.grey-text {
  color: colors.$color-grey;
}
.logo-text {
  font-size: 24px;
  font-weight: 650;
}
.subtitle-text {
  font-size: 24px;
}
.body-text {
  font-size: 16px;
  font-weight: 200;
  &__small {
    font-size: 1.8rem;
    font-weight: 300;
  }
  &--hover {
    font-size: 16px;
    font-weight: 200;
    opacity: 70%;
    &:hover {
      opacity: 100%;
    }
  }
}

.body-text-secondary {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 20px;
  color: $color-grey;
}
.black-text{
  color: black;
}
.small-text {
  font-size: 16px !important;
}
.smallest-text {
  font-size: 13px !important;
}
.error-msg{
  background-color: #F44336;
  color: white;
  @include mixins.submit-msg();
}

.success-msg {
  color: #009688;
  font-weight: 600;
  @include submit-msg();
}
