@use '../../../styles/abstracts/mixins';
@use '../../../styles/base/colors';
.trustNumbers {
    display: flex;
    flex-direction: row;
    margin: 10rem 10rem 0 10rem;
  
    @include mixins.mobile {
      margin: 5rem 0 0 0;
    }
  
    &__container {
      display: flex;
      flex-direction: row;
      border-right: 5px solid #00695c;
      margin-right: 9rem;
  
      @include mixins.small-mobile {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-right: none;
        margin-right: 0;
      }
      @include mixins.mobile {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-right: none;
        margin-right: 0;
      }
  
      &--last-child {
        display: flex;
        flex-direction: row;
        border-right: none;
        margin-right: 0;
        @include mixins.small-mobile {
          flex-direction: column;
          justify-content: center;
          text-align: center;
          align-items: center;
          border-right: none;
          margin-right: 0;
        }
        @include mixins.mobile {
          flex-direction: column;
          justify-content: center;
          text-align: center;
          align-items: center;
          border-right: none;
          margin-right: 0;
        }
      }
    }
  
    &__number {
      flex: 1;
      font-size: 5.6rem;
      font-weight: 700;
      line-height: 7.2rem;
      background: colors.$color-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-right: 2rem;
      @include mixins.small-mobile {
        margin: 0;
      }
      @include mixins.mobile {
        margin: 0;
      }
    }
  
    &__text {
      margin-right: 9rem;
      font-weight: 50rem;
  
      &--last-child {
        margin-right: 0;
      }
      @include mixins.small-mobile {
        margin: 0;
      }
      @include mixins.mobile {
        margin: 0;
      }
    }
  
    @include mixins.small-mobile {
      gap: 4rem;
      margin: 5rem 9rem 0 9rem;
    }
    @include mixins.mobile {
      gap: 4rem;
      margin: 5rem 9rem 0 9rem;
    }
  }